*,
*::after,
*::before {
    box-sizing: border-box;
}




.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

*{
    box-sizing: border-box;
}







.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    min-height: 80px;
    background-color: #213b7e;
    margin: 0 auto;
    padding:0 15px;
    justify-content: space-between;
    align-items: center;
    
}
/*Popup*/

.login-popup{
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 50px;
    background: #ffffff;
    border: 1px solid #213b7e;
    background-color: #ffffff;

}

.login-heading{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-align: center;

}

.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.login-form>input{
    width: 100%;
    max-width: 500px;
    min-height: 55px;
    margin-bottom: 56px;
    border: 1px solid #808080;

}

.login-input{
    width: 444px;
    min-height: 54px;
    background-color: #ffffff;
    border: 1px solid #808080;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    padding: 10px;

}

.login-password{
    width: 444px;
    min-height: 54px;
    background-color: #ffffff;
    border: 1px solid #808080;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    padding: 10px;

}

.popup-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    min-height: 50px;
    text-decoration: none;
    color: #ffffff;
    background-color: #FA6113;
    border: none;

}

.active-Link{
    color: #213b7e;
    background-color: #ffffff;
    text-decoration: none;

}

.show-popup{
    display: block;
    
}







.site-menu{
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration-line: underline ;
}


.site-menu > li {
    display: flex;
    flex-wrap: wrap;
}




.menu-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0  18px;
    background-color: #213b7e;
    color:#ffffff;
    font-weight: 400;
    font-size: 20px;

}
.menu-link:hover{
    background-color: #ffffff;
    color: #213b7e;
    text-decoration: none;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    background-color: #EA5D21;
    width: 153px;
    min-height: 50px;

}


.main-index {
    max-width: 911px;
}

.main{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  flex-grow: 1;  
  
}





.main-heading{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
}


.class-photo{
    width: 100%;
    max-width: 523px;
    height: auto;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;  
}

.intro-tex {
    position: relative;
}

.emblema{
    position:absolute ;
    display: block;
    width: 129px;
    height: 90px;
    margin: 0;
    font-family: 'Lobster';
    font-style: normal;
    font-size: 36px;
    top: -10px;
    right: 0;
     color:#646464
}




.student-tex{
 max-width: 634px; 
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;   
}
em {
    color:rgba(207,85,16,1) ;
}





/*students*/

.student-photo{
    width: 100%;
    max-width: 200px;

    height: 270px; 

}

.students{
    max-width: 1300px;
}

.about{
    max-width: 1024px;
}

.class-list{
    padding: 0 50px;
}

.students-list{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 20px 50px;

}

.student-item{
    display: block;
    width: 200px;

    

}

.student-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}
    
    

.footer{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    min-height: 60px;
    margin: 0 auto;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    background-color: #213b7e;

}
.copyriqht{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255,255,255,0.5);
}
.innop-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255,255,255,0.5);

}



/*About*/
.text-about{
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
}

.video{
    width: 100%;
    max-width: 820px;
    height: auto;
    border: none;
    aspect-ratio: 16/9;
}



/*Contacts*/

.text-info {
    font-weight: 4000;
    font-size: 18px;
    color:#000000;
}


.map {
width: 100%;
height: 370px;

}

.phone-number {
    margin-top: 16px;
    text-decoration: underline;
}







/*Media*/

@media (max-width: 1300px)  {
    .header{
        width: 70%;
    }

    .site-menu {
        width: 60%;
        min-height: 80px;
    }
}

   
.new {
    position: relative;
}
   

.new::after {
    content: 'Новичок';
    position:absolute;
    top:0;
    right: 0;
    transform: translate(15px,-50%);
    display: inline-block;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background-color: #3AA828;
    border-radius: 20px;
    padding: 2px 5px;

   }




   .main-page {
    font-weight: 4000;
    font-size: 30px;
    color:#000000;
}
h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px; 
    
}
.sergia {
    width: 100%;
    max-width: 200px;
    height: auto; 
}

.son {
    width: 100%;
    max-width: 200px;
    height: auto; 

}
.family{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #EA5D21;  
}

.cat{
    width: 100%;
    max-width: 200px;
    height: auto;
}

.mama {
    width: 100%;
    max-width: 200px;
    height: auto; 
}








   




